@model aspnet_tthk.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p>Tänan sind, @Model.Name</p>
</div>
<div>
	@if (Model.WillAttend == true)
	{
		@:Ootame sind kallis sõber!
		<p>
			<img src="~/Images/happy.jpg" style="width: 50%" />
		</p>
		@Html.ActionLink("Saada mulle tulus", "sendTulus", "Home", new { email = Model.Email } ,new { @class = "btn btn-primary" })


	}
	else
	{
		@:Väga kurb uudis. Näeme hiljem!
		<p>
			<img src="~/Images/decline.jpg" style="width: 50%" />
		</p>
	}

	@ViewBag.Message @*ViewBag.Messabe -отчет об отправке письма с приглашением*@

</div>
